# Nagorik Pay API Key (Brand Key)
NAGORIKPAY_API_KEY=HMZ3Okp4vE22c1HmzHxaClN9dQ3t0rELj6m3p9Fm1AFviXpFwG

# Frontend URL (storefront)
FRONTEND_URL=http://localhost:3000

# API Server URL
API_URL=http://localhost:5000

# Database
DATABASE_URL=postgresql://user:password@localhost:5432/dwin
